.menu-header {
    padding-top: 30px;
    .menu-data {
      display: flex;
      flex-direction: column;
      img {
        height: 92px;
        display: flex;
        width: fit-content;
        margin: auto;
        margin-bottom: 15px !important;
      }
      .top_field {
        position: relative;
        .icons {
          position: absolute;
          right: 30px !important;
          top: 10px !important;
          background-color: #fcfcfc;
          box-shadow: 0.5px 0.5px 1px #000000;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  