:root{
    --color-black: #000000;
    --color-red: #FA3B3B;
    --color-heading: #f90f0f;
    --color-form-errors: red;
    --color-link-hover: rgb(240, 158, 6);
    --color-form-button-hover: rgb(218, 37, 67);
    --color-form-bg: #fcfcfc;
}