.select-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  // z-index: 2;
  width: 80%;
  margin: auto;
  .label-field {
    position: absolute;
    left: 20px;
    top: 13px;
    padding-bottom: 5px;
    text-align: left;
    cursor: pointer;
    // font-size: 10px;
    // color: var(--color-select-label);
    i {
      font-size: 18px;
      -webkit-text-stroke: 1px;
    }
  }
  p{
    position: absolute;
    left: 60px;
    top: 13px;
    font-size: 10px;
    color: #000000;
    font-weight: 700;
  }
  .search-field {
    padding: 23px 25px 10px 60px;
    padding-right: 20px !important;
    // max-width: 200px;
    width: 100%;
    margin: auto;
    // height: 50px;
    color: var(--color-form-inputs);
    outline: none;
    border: none;
    font-size: clamp(11px, 2vw, 13px);
    background-color: #fcfcfc;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    &:focus {
      border: 1px solid var(--color-input-field-focus);
    }
    @media screen and (max-width: 375px) {
      // padding: 0px 13px;
      // height: 40px;
      //   width: 140px;
    }
  }
}
