.select-field-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5px;
  .icon {
    position: absolute;
    right: 30px;
    height: auto;
    width: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .label-field {
    font-weight: 700;
    font-size: 14px;
    margin-left: 15px;
    background-color: #fcfcfc;
    // margin-bottom: -8px;
    z-index: 3;
    width: fit-content;
  }
  select {
    background-image: url(../../../assets/down.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 94%;
    margin-bottom: 15px;
    margin-top: -8px;
    position: relative;
    padding-right: 36px !important;
    // padding: 4px 10px;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 4px #55624c;
    border-radius: 8px;
    padding: 0px 15px;
    height: 50px;
    outline: none;
    font-size: clamp(13px, 2vw, 15px);
    &:focus {
    }
    @media screen and (max-width: 375px) {
      padding: 0px 13px;
      height: 50px;
    }
  }
}
