.list-data {
  padding-bottom: 130px;
  .select-field {
    width: 100% !important;
    margin: 20px 0px;
  }
  .top-data {
    padding-top: 40px;
    padding-bottom: 10px;
    background: rgba(243, 242, 242, 0.75);
    text-align: center;
    .main-data-lists {
      .prices {
        position: relative;
        .new-icon {
          position: absolute;
          background-color: #0bca07;
          border-radius: 8px;
          width: 50px;
          height: 50px;
          top: 19px;
          right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: clamp(22px, 2vw, 25px);
          i {
            color: #fcfcfc;
            -webkit-text-stroke: 1px;
          }
        }
      }
      .end-price {
        color: #f90f0f;
        h3 {
          font-size: clamp(17px, 2vw, 19px);
          margin-bottom: 10px;
        }
      }
      .hand-cash {
        h3 {
          font-size: clamp(13px, 2vw, 16px);
          font-weight: 600;
        }
      }
      h4 {
        font-size: clamp(12px, 2vw, 14px);
        font-weight: 500;
      }
      .total-amount {
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 700;
        h2 {
          font-size: clamp(16px, 2vw, 20px);
          font-weight: 700;
          margin: auto;
        }
      }
      .two-btns {
        display: flex;
        justify-content: space-between;
        background-color: #efe7e7;
        border-radius: 10px;
        .expenses {
          cursor: pointer;
          margin: 5px;
          height: 47px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          &:nth-child(1) {
            margin-right: 2.5px;
          }
          &:nth-child(2) {
            margin-left: 2.5px;
          }
          h2 {
            margin-bottom: 0px;
            color: #f90f0f;
            font-size: clamp(15px, 2vw, 18px);
            font-weight: 00;
            color: #000000;
          }
        }
        .selected {
          background-color: white;
          h2 {
          }
        }
      }
    }
  }
  .section2 {
    padding-top: 20px;
    .section2-data {
      .clear_form_data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .clear-form {
          // text-align: end;
          Button {
            border-radius: 3px !important;
            background-color: #0bca07;
            font-weight: 600;
          }
        }
      }
      .voucher-lists {
        background: #fcfcfc;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 8px;
        padding-right: 35px !important;
        margin-bottom: 20px;
        position: relative;
        @media screen and (max-width: 350px) {
          flex-direction: column;
          padding: 10px 20px !important;
        }
        .dropdown {
          .dropdown-item {
            display: flex;
            align-items: center;
            i {
              padding-right: 10px;
            }
          }
          .dropdown-toggle {
            &::after {
              content: none;
            }
          }
          button {
            background-color: transparent;
            color: black;
            border: none;
            padding: 0px;
          }
          .dropdown-menu {
            margin-left: 20px;
            margin-top: -5px;
          }
        }
        .side-menues {
          padding: 20px;
          width: 200px;
          position: absolute;
          right: 0;
          background: #fcfcfc;
          margin-top: 30px;
          // .opened-cruds{
          //   display: flex;
          //   align-items: center;
          //   i{
          //     padding-right: 10px;
          //   }
          // }
        }
        .dot-icon {
          position: absolute;
          right: 15px;
          top: 2px;
          i {
          }
        }
        p {
          margin-bottom: 0px;
          font-size: clamp(10px, 2vw, 12px);
          font-weight: 700;
          span {
            font-weight: 500;
            font-size: clamp(9px, 2vw, 10px);
          }
        }
        .list-img {
          img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin-right: 20px;
            @media screen and (max-width: 400px) {
              margin-right: 15px;
            }
            @media screen and (max-width: 350px) {
              margin-right: 0px !important;
            }
          }
        }
        .voucher-data {
          width: 100%;
          .menus {
            margin-bottom: 0px;
            font-size: clamp(10px, 2vw, 12px);
            font-weight: 700;
            display: flex;
            align-items: center;
            width: max-content;
            overflow-x: hidden;
            span {
              font-weight: 700;
              font-size: clamp(8px, 2vw, 10px);
              margin-top: 2px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
          .voucher-no {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 400px) {
              flex-direction: column;
            }
          }
          p {
            span {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
  .new-section {
    .new-section-data {
      input {
        width: 100%;
        background: #fcfcfc;
        box-shadow: 1px 1px 4px #f78142;
        border-radius: 8px;
        border: none;
        outline: none;
        height: 50px;
        padding: 0px 20px;
      }
      .btn_status {
        cursor: pointer;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fcfcfc;
        box-shadow: 1px 1px 4px #0bca07;
        border-radius: 8px;
        i {
          color: #0bca07;
          font-size: clamp(32px, 2vw, 35px);
        }
      }
      .btn_cross {
        cursor: pointer;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fcfcfc;
        box-shadow: 1px 1px 4px #0bca07;
        border-radius: 8px;
        background: #fcfcfc;
        box-shadow: 1px 1px 4px #f78142;
        i {
          color: #f90f0f;
          font-size: clamp(32px, 2vw, 35px);
        }
      }
      .end-data {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        padding-top: 20px;
        Button {
          background-color: #f90f0f;
          border: none;
          padding: 0px 18px;
        }
      }
    }
    .select-fields-data {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      select {
        width: 49%;
      }
      input {
        width: 49%;
      }
    }
    .new-fields-data {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .input-data-section {
        width: 49%;
      }
      select {
        width: 100%;
      }
      // .select-fields {
      //   width: 48%;
      //   select {
      //     width: 100%;
      //   }
      // }
    }
    .input-data {
      margin-top: 10px;
    }
  }
}
