.main_voucher_page {
    padding-bottom: 100px;
  .voucher_data {
    .voucher_btns {
      margin: 20px 0px;
      display: flex;
      justify-content: space-between;
      Button {
        height: 40px;
        border-radius: 10px;
        background-color: #179814;
        border: none;
        font-weight: 700;
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            color: #FFFFFF;
        }
        i {
          -webkit-text-stroke: 2px;
          font-size: 20px;
          padding-right: 10px;
        }
      }
    }
    .search_header {
      .select-field {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .main_vouchers {
      background-color: #55624c;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin-bottom: 20px;
      position: relative;
      .dot-icon {
        position: absolute;
        right: 15px;
        top: 2px;
        .new_icon {
          color: #FFFFFF;
        }
        .dropdown {
          .dropdown-item {
            display: flex;
            align-items: center;
            i {
              padding-right: 10px;
            }
          }
          .dropdown-toggle {
            &::after {
              content: none;
            }
          }
          button {
            background-color: transparent;
            color: black;
            border: none;
            padding: 0px;
          }
          .dropdown-menu {
            margin-left: 20px;
            margin-top: -5px;
          }
        }
      }
      .inner_main_data {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 5px !important;
        padding-top: 18px !important;
        padding-right: 50px;
        @media screen and (max-width:350px) {
          flex-direction: column;
        }
        p{
            font-size: clamp(8px,2vw,10px);
            font-weight: 700;
            color: #FFFFFF;
        }
      }
      
      .bottom-data {
        padding: 15px 25px;
        background-color: #d9e7cb;
        border-radius: 10px;
        .sub_menues {
          display: flex;
          align-items: center;
          .approved{
            color: green;
          }
          .recheck{
           color: orange;
          }
          .pending{
          color: orange;
          }
          .disagree{
          color: red;
          }
          .all_rounder{
          color: red;
          }
          h3{
            color:#000000;
            font-size: clamp(9px,2vw,12px);
          }
          p{
            color:#000000;
            font-size: clamp(9px,2vw,12px);
          }
        }
      }
      .dropdown {
        .dropdown-item {
          display: flex;
          align-items: center;
          i {
            padding-right: 10px;
          }
        }
        p{
          font-size: 12px;
          margin-bottom: 0px
        }
        .dropdown-toggle {
          &::after {
            content: none;
          }
        }
        button {
          background-color: transparent;
          color: black;
          border: none;
          padding: 0px;
        }
        .dropdown-menu {
          margin-left: 20px;
          margin-top: -5px;
        }
      }
    }
  }
}


